/******** TAILWIND DIRECTIVES ********/
@tailwind base;
@tailwind components;
@tailwind utilities;

/******** GENERAL VARIABLES ********/
$primarySalmon: #EC7357;
$colGreen: #7ABC64;
$colLightGrey: #F6F6F6;
$colDarkGrey: #494C4E;
$colGrey: #929AA3;
$colBlue: #7799AD;